// Variabelen
$lichte-achtergrond: white;
$lichte-tekst: black;
$donkere-achtergrond: rgb(42, 40, 51);
$donkere-tekst: white;

// Mixin voor themakleuren
@mixin themakleuren($licht-thema: true) {
    @if $licht-thema {
        background-color: $lichte-achtergrond;
        color: $lichte-tekst;
    } @else {
        background-color: $donkere-achtergrond;
        color: $donkere-tekst;
    }
}

// Stijlen voor HTML en body
html {
    background-color: #273348;
}
body {
    text-align: center;
    margin: 0;
    font-family: "Roboto Slab";
    min-width: 600px;
}

// Stijlen voor header
header {
    background-image: url(Anonymous.jpg);
    background-position: center;
    padding: 100px 0;
    box-sizing: border-box;
    color: white;
}

// Stijlen voor navigatie
nav {
    @include themakleuren($licht-thema: false);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    a {
        padding: 5px 15px;
        text-decoration: none;
        @include themakleuren($licht-thema: false);
    }

    a:hover {
        color: black;
        background-color: white;
    }
}

// Stijlen voor hoofdgedeelte
main {
    background-color: rgb(37, 36, 39);
    color: white;
    padding: 50px 0;

    h2 {
        margin: 0;
        margin-bottom: 20px;
    }

    .leftright {
        display: flex;
        margin: auto;
        width: fit-content;

        div {
            &:first-child {
                margin-left: 0;
                margin-right: 80px;
            }

            &:not(:first-child) {
                margin-left: 80px;
            }
        }
    }

    .center {
        width: 60%;
        max-width: 500px;
        min-width: 320px;
        margin: auto;

        table {
            width: 50%;
            margin: auto;

            td {
                text-align: left;

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    ul {
        display: inline-block;
        text-align: center;
        padding: 0;
        list-style-type: none;
    }

    article {
        margin-top: 20px;

        a {
            color: white;
        }
    }
}

// Stijlen voor footer
footer {
    background-color: black;
    padding: 15px;

    a {
        color: white;
    }
}
