/* Fonts */
@font-face {
    font-family: "Aptos";
    src: url(fonts/29939506207.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    padding: 2rem;
}

header,
footer {
    grid-column: span 12;
    background-color: #515151;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    grid-column: span 12;
    grid-row: span 3;
    padding: 1rem;
}

nav {
    grid-column: span 4;
    background-color: #f1f1f1;
    padding: 1rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin: 0 20px 0 20px;
    color: #DDDDDD;
}

article {
    grid-column: span 8;
    background-color: #f1f1f1;
    padding: 1rem;
}

footer {
    grid-column: span 12;
    background-color: #515151;
    padding: 1rem;
    justify-content: space-between;
}

@media (min-width: 768px) {
    nav,
    article {
        grid-column: span 6;
    }
}

.content {
    min-height: 100vh;
    width: 100%;
    padding: 0 10% 10% 10%;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}  

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

/* Media queries */
@media only screen and (max-width: 940px) {
    .content {
        padding: 0 10% 20% 10%;
    }

    /* Navigation Bar */
    nav ul li a {
        margin: 0 15px 0 15px;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        margin-top: 20%;
        left: 5%;
        width: 90%;
        text-align: center;
    }

    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 200px) and (orientation: portfolio) {
    .content {
        margin-top: 0px;
        margin-bottom: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }
}